<h1>Update Pet</h1>

<form action="/pets/<%=@pet.id%>" method="POST">

  <label>Name:</label>

  <br></br>

  <input type="text" name="pet[name]" id="pet_name" value="<%=@pet.name%>">

  <br></br>

  <label>Choose an existing Owner:</label>

  <br></br>

  <% @owners.each do |o|%>

    <input type="radio" name="pet[owner_id]" id="<%= o.id%>" value="<%=o.id%>"
      <% if @pet.owner_id == o.id %>
        <%= 'checked' %>
      <% end %>><%= o.name %></input>
    <%end%>

  <br></br>

  <label>or, create a new owner:</label>
  <br></br>
  <label>name:</label>
    <input type="text" name="owner[name]" id="owner_name"></input>
  <br></br>

  <input type="submit" value="Update Pet">
</form>
